
<article class="colophon">
<h1>Colophon</h1>

<p>
Burningbot is a community maintained project. The bot is written in <a href="http://clojure.org.">Clojure</a> and uses the <a href="http://github.com/raynes/irclj">irclj</a> to communicate with the server. The <a href="http://github.com/cgrand/enlive">Enlive</a> library powers the bots scraper and is used for templating on the web application. Database (MySQL) access is via <a href="http://clojureql.org">ClojureQL</a> and <code>clojure.contrib.sql</code>. The web interface is built on Ring and Moustache. jQuery and Modernizr are used to do most of the heavy lifting on the front end. 
</p>

<p>
Initial development by Andrew Brehaut with feedback and bug hunting from Zelbanian, Cathexis, PeregrinePDX, Lira and oliof. You can contribute via the projects GitHub page.
</p>

<p>
The web design is by <a href="http://brehaut.net">Andrew Brehaut</a> and uses the Griffos typeface by  Manfred Klein. The paper texture is <em>Exclusive paper</em> from <a href="http://subtlepatterns.com/">Subtle Patterns</a>. 
</p>
</article>



<article class="home">
<h1>About Burningbot</h1>

<p>
Burningbot is an IRC bot for the (unofficial) #burningwheel (and related) IRC channels. It is 
intended to 
support activity in the channel and provide a community resource to access archived 
discussions.
</p>

</article>
