<!DOCTYPE html>
<html>
<head>
<script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js">
</script>
<script language="javascript" src="/media/behaviour/contrib/modernizr-1.7.min.js">
</script>

<link href="/media/style/base.css" rel="stylesheet" type="text/css" media="screen,projection" />

<script type="text/javascript">
var gOverride = {
  urlBase: 'http://gridder.andreehansson.se/releases/latest/',
  gColor: '#333333',
  gColumns: 16,
  gOpacity: 0.25,
  gWidth: 10,
  pColor: '#C0C0C0',
  pHeight: 18,
  pOffset: 88,
  pOpacity: 0.05,
  center: true,
  gEnabled: true,
  pEnabled: true,
  setupEnabled: true,
  fixFlash: true,
  size: 960
};
</script>

<script>

// log processing

var DEAD_TIME = 1000 * 60 * 10;

function zip_partition(array, pred) {
    var s = [];
    for (var i = 0, j = array.length; i < j; i++) {
        if (current == null || pred(array[i], array[i - 1])) {
            var current = [];
            s.push(current);
        }
        current.push(array[i]);
    }
    return s;
}


var process_log = (function () {
    var run = 0;
    
    return function (text) {
        var lines = text.split("\n");
        var messages = [];
        for (var i = 0, j = lines.length; i < j; i++) {
            var match = lines[i].match(/^(\d\d):(\d\d):(\d\d) <([^>]+)> (.+)$/);
            if (!match) continue;
        
            var t = new Date();
            t.setHours(+match[1]);
            t.setMinutes(+match[2]);
            t.setSeconds(+match[3]);
        
            messages.push({
                id: run + "_" + messages.length,
                time: t,
                nick: match[4],
                text: match[5],
            });
        }
        run++;
        
        return messages;
    };
})();

function group_messages(messages) {
    return zip_partition(messages, function (current, previous) {
        if (current.nick != previous.nick) return true;
        if (current.time - previous.time > DEAD_TIME) return true;
        return false
    });
}

// marks

function draw_bracket(top, height, tag) {
    if (!document.createElement('canvas').getContext) return;
    
    var canvas = document.createElement('canvas');
    $(canvas).attr({width:40, height: height});
              
    var ctx = canvas.getContext("2d");
    ctx.beginPath();
    ctx.moveTo(7.5,0.5)
    ctx.lineTo(10.5,0.5);
    ctx.arc(10.5,5.5, 5, Math.PI * 1.5, 0, false);
    ctx.lineTo(15.5,20.5);
    ctx.arc(20.5,25.5, 5, Math.PI, Math.PI / 2, true);
    ctx.arc(20.5,35.5, 5, Math.PI * 1.5, Math.PI, true);
    ctx.lineTo(15.5,height-6.5);
    ctx.arc(10.5,height-6.5, 5, 0, Math.PI * 0.5, false);
    ctx.lineTo(7.5,height - 1.5)

    ctx.strokeStyle = "#eee";
    ctx.lineWidth = 6;
    ctx.stroke();

    ctx.strokeStyle = "#666";
    ctx.lineWidth = 2;
    ctx.stroke();
    
    var mark = $("<div class=\"mark\">")
                    .css({position: "absolute",
                          right: "10px",
                          width: "75px",
                          top: top,
                          opacity: 0.75});
    mark.append(canvas);
    mark.append($("<a>").text(tag)
                        .addClass("tag")
                        .css({"position": "absolute",
                              "display": "block",
                              "left":"25px",
                              "top":"20px",
                              "color": "#666",
                              "text-transform": "lowercase",
                              "letter-spacing": "0px",
                              "font-size": "0.8em",
                              "-webkit-transform":"rotate(" + ((Math.random() * 8) - 4) + "deg)"}))
                        
    $(".log-body").append(mark);
}


function nearest_timestamp(messages, timestring) {
    var t = new Date();
    match = timestring.split(":");
    t.setHours(+match[0]);
    t.setMinutes(+match[1]);
    t.setSeconds(0);

    var low = 0;
    var high = messages.length;   
     
    for (var i = Math.log(messages.length) / Math.log(2) + 1; i >= 0; i--) {
        var pivot = Math.floor((high + low) / 2);
    
        if (high - low <= 1) {
            return (Math.abs(t - messages[pivot].time) < Math.abs(t - messages[pivot+1].time))
                    ? messages[pivot] 
                    : messages[pivot + 1];
        } 
        else if (messages[pivot].time > t) {
            high = pivot;
        }
        else {
            low = pivot;
        }
    }
}

function draw_marks(messages, marks) {
    var doc_height = $(document.body).height();
    
    $.each(marks, function (_, mark) {
        var start = $(document.getElementById(nearest_timestamp(messages, mark.start).id)).offset().top;
        var end_message = $(document.getElementById(nearest_timestamp(messages, 
                                                                      mark.end).id));
        var stop = end_message.offset().top + end_message[0].offsetHeight;
        
        draw_bracket(start, stop - start, mark.tags[0]);
        
        var contextBar = $("<div>").addClass("markContext")
                                   .css({"position":"fixed",
                                         "width": "10px",
                                         "right": "0",
                                         "height": (((stop - start) / doc_height) * 100) +"%",
                                         "top": ((start / doc_height) * 100) +"%",
                                         "border": "5px solid transparent",
                                         "border-right-color": "rgba(0,0,0,0.1)",
                                         "cursor": "pointer"})
                                   .click(function () {
                                       $("html:not(:animated),body:not(:animated)")
                                           .animate({scrollTop: start});
                                   });
        $(document.body).append(contextBar);
    })
}

// display log


function pad(n, digits) {
    var s = [];
    for (zeros = digits - Math.floor(n).toString().length; zeros > 0; zeros--) s.push("0");
    s.push(n.toString());
    return s.join("");
}

function smart_quote(text) {
    return text.replace(/(^|\s)"(\S)/g, "$1“$2")
               .replace(/(^|\s)'(\S)/g, "$1‘$2")
               .replace(/(\S)"(\s|$)/g, "$1”$2")
               .replace(/(\s)'(\S|$)/g, "$1’$2");
}

function populate(meta) {
    $.ajax(meta.text).then(function (text) {
        var ul = $("<ul>").addClass("clearfix");
    
        var last_stamp = null;
        var last_group = null
    
        var messages = process_log (text);
    
        $.each(group_messages(messages), function (_, group) {
            var li = $("<li>").addClass("messages clearfix");
            var text = $("<div>");
            var nick = group[0].nick;
        
            if (nick.match(/bot$/)) li.addClass("botspeak");
            if (last_group && group[0].time - last_group[last_group.length - 1].time > DEAD_TIME) {
              li.addClass("pause")
            } 
        
            li.append($("<strong>").text(group[0].nick+" "));
            li.append(text);
        
            $.each(group, function (_, message) { 
            
                if (last_stamp == null || (message.time - last_stamp > (1000 * 60 * 5))) {
                    var timestamp = pad(message.time.getHours(), 2) + 
                                    ":" + 
                                    pad(message.time.getMinutes(), 2);
                    text.append($("<a class='timestamp'>")
                                    .attr({"id": timestamp,
                                           "href": "#"+timestamp})
                                    .text(timestamp));
                    last_stamp = message.time;
                }
            
                text.append($("<span>").text(smart_quote(message.text))
                                       .attr("id", message.id));
                text.append($("<br/>"))
            })
            ul.append(li);
        
            last_group = group;
        }) 
        $("section.log-body").append(ul);    
        draw_marks(messages, meta.marks);
    }); 
}

function load_log(date, destination) {
    $.ajax("/api" + location.pathname + "/meta").then(populate);
    $(".log-date").text(location.pathname.match(/\d{4}-\d\d?-\d\d?$/)[0]);    
}

var marks = [
    {start: "00:00", stop: "00:10", tags: ["test"]},
    {start:"00:30", stop:"01:20", tags: ["positioning"]}
];


$(function () {
    load_log(location);
});
</script>
</head>
<body>
    <div id="container">
        <header id="masthead" class="clearfix">
            <h1>Burningbot</h1>
            <h2>#BurningWheel Logs</h2>
            <h2 class="log-date"></h2>
        </header>
        <section class="log-body">
        </section>
    </div>
</body>
</html>